<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="sistema" value="Uechi.APM.Services.Socket.Server" />
    <add key="chave" value="698dc19d489c4e4db73e28a713eab07b" />
    <add key="porta" value="8888" />
    <add key="intervalo" value="5000" />
    <add key="log" value="false" />
  </appSettings>
</configuration>